:global(*) {
  font-family: 'Roboto Mono', monospace !important;
}

:global(body) {
  margin: 0;
  width: 600px;
}

.icon {
  font-size: 18px !important;
  margin-left: 4px;
}

.reportFields > div:not(:first-child) {
  margin-left: 8px;
}

.reportView {
  margin-top: 8px;
  border: 1px dashed gray;
}

.reportTitle {
  font-size: 16px;
  font-weight: bold;
}

.container {
  padding: 8px;
}

.tabContent {
  margin: 8px 0;
  overflow: auto;
  height: 400px;
  max-height: 400px;
}

.footer {
  display: flex;
  justify-content: flex-end;
}

.footer button:not(:last-child) {
  margin-right: 10px;
}
