.editorContainer {
  margin-top: 8px;
}

.header {
  display: flex;
  justify-content: space-between;
}

.labelError {
  display: flex;
  justify-content: flex-end;
}

.labelError > span {
  color: #C62828;
  background-color: #FFEBEE;
  padding: 4px 8px;
  border-radius: 8px;
}

.labelContainer {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0;
  margin-bottom: 8px;
  outline: none;
  cursor: pointer;
}

.label {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.54)
}

.arrow {
  margin-left: 16px;
  border: solid rgba(0, 0, 0, .54);
  border-width: 0px 2px 2px 0;
  display: inline-block;
  padding: 2px;
  width: 2px;
  height: 2px;
}

.down {
  transform: rotate(45deg);
}

.up {
  margin-top: 8px;
  transform: rotate(-135deg);
}
