.title {
  position: absolute;
  background-color: #ef9a9a;
  width: 100%;
  height: 100%;
  font-weight: bold;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-right: 60px;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.6);
}
